<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AccessRemoteHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AccessRemoteHelper.Properties.Settings>
            <setting name="TeamViewer" serializeAs="String">
                <value>C:\Program Files (x86)\TeamViewer\TeamViewer.exe</value>
            </setting>
            <setting name="Anydesk" serializeAs="String">
                <value>C:\Program Files (x86)\AnyDesk\AnyDesk.exe</value>
            </setting>
            <setting name="Rdp" serializeAs="String">
                <value>mstsc</value>
            </setting>
            <setting name="UltraViewer" serializeAs="String">
                <value>C:\Program Files (x86)\UltraViewer\UltraViewer_Desktop.exe</value>
            </setting>
        </AccessRemoteHelper.Properties.Settings>
    </userSettings>
</configuration>